
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f5f5f5;
    color: #333;
    padding: 20px;
}


header {
    text-align: center;
    padding: 20px;
    background: purple;
    color: white;
    margin-bottom: 20px;
}

/* NAVIGATION */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    background: red;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


main {
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 30px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #555;
}
